{{> pageStart }}

<h1>Access Denied</h1>
<p>Sorry, you do not have access to the Point Calculator because you are not an active backer.</p>
<a href="https://www.patreon.com/onepagerules/">Click here to visit the Patreon page</a>

{{> pageEnd }}
