{{> pageStart }}

<h1>An Error Occurred</h1>
<p>Sorry, something went wrong getting your user data from Patreon.</p>
<p>Please <a href="/login">try logging in again</a>.</p>
<p>If the problem persists, please report this error code: {{ requestId }}</p>

{{> pageEnd }}
