{{> pageStart }}

<h1>Please log in with Patreon to access the Point Calculator</h1>

<p>
  <a href="{{ patreonLoginUrl }}">Click here to log in with Patreon</a>
</p>

<p>
    Please note that the Patreon integration is still in development and may
    periodically ask you to re-connect to Patreon even though you have already
    done so. We ask for your patience as we finalize this feature.
</p>

{{> pageEnd }}
